{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the homepage</h1>
                 <p>Let me start at the start then take it away my name is Simpson Bartholomew J.</p>
            </div>
        </div>
    </div>
{{end}}